

<!-- Title Below the Logo -->
<h2 class="text-center text-2xl font-bold text-gray-700 mb-6">{{signupTitle}}</h2>

<!-- Sign-Up Form -->
<form id="login-form" class="space-y-6">
    <!-- Hidden signup parameter -->
    <input type="hidden" name="signup" id="signup" value="true">
    
    <!-- Hidden Error Message -->
    <div id="error-message" class="hidden mb-4 p-2 bg-red-100 text-red-700 rounded-md">
        <p>Error: Signup failed.</p>
    </div>
    
    <!-- Username (Email) Input -->
    <div>
        <label for="email" class="block text-sm font-medium text-gray-700">E-mail</label>
        <input type="email" id="username" name="username" required placeholder="name@example.com"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>

    <!-- Sign-Up Button -->
    <div>
        <button type="submit"
            class="w-full py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Sign Up
        </button>
    </div>

    {{#if hasSocial}}
    <!-- OR Divider -->
    <div class="relative mt-6">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
            <span class="bg-white px-2 text-gray-500">OR</span>
        </div>
    </div>

    <!-- Social Sign-Up Buttons (Google & GitHub) -->
    <div class="flex flex-col space-y-4">
        {{#if hasGoogle}}
        <!-- Google Button -->
        <button type="button" onclick="location.href='signup/google'"
            class="w-full flex items-center justify-center py-2 px-4 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                class="w-5 h-5 mr-2">
                <!-- Google SVG paths here -->
                <path fill="#EA4335"
                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z" />
                <path fill="#4285F4"
                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z" />
                <path fill="#FBBC05"
                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z" />
                <path fill="#34A853"
                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z" />
            </svg>
            <span class="text-gray-700">Google</span>
        </button>
        {{/if}}
        {{#if hasGithub}}
        <!-- GitHub Button -->
        <button type="button" onclick="location.href='signup/github'"
            class="w-full flex items-center justify-center py-2 px-4 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" width="48" height="48"
                fill="currentColor" viewBox="0 0 1792 1792">
                <!-- GitHub SVG paths here -->
                <path
                    d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103z" />
            </svg>
            <span class="text-gray-700">GitHub</span>
        </button>
        {{/if}}
    </div>
    {{/if}}
    <!-- Sign In Link -->
    <div class="mt-6 text-center">
        <p class="text-sm text-gray-600">
            Already have an account?
            <a href="login" class="text-indigo-600 hover:text-indigo-500 font-medium">Sign in</a>
        </p>
    </div>
</form>