services:          
  flexnes:
    image: ghcr.io/restdb/flexnes:latest
    pull_policy: always
    restart: on-failure
    depends_on:
      - redis-service
    environment: 
      - PORT=50051
      - DISCOVERY_PORT=5000
      - LOCAL_DEV_MODE=true
      - DBDIR=/data
      - DBSECRET=${DBSECRET:-daejoo}
      - QUEUE_MAX_WORKERS=1
      - CODERUNNER_ADDRESS=coderunner-service
      - CODERUNNER_PORT=49051
    volumes:
      - codehooks_data:/data
  
  coderunner-service:    
    image: ghcr.io/restdb/codehooks-coderunner:latest
    pull_policy: always
    restart: on-failure
    depends_on:
      - redis-service
    env_file:
      - path: .env
        required: false
    environment:
      - LOCAL_DEV_MODE=true
      - RPC_PORT=49051
      - DBSECRET=${DBSECRET:-daejoo}
      - CODERUNNER_NUM_INST=1    
    volumes:
      - "${USER_DIR:-.}:/userapp"

  apigateway-service:
    image: ghcr.io/restdb/codehooks-apigateway:latest
    pull_policy: always
    restart: on-failure
    depends_on:
      - flexnes
      - coderunner-service
      - mongodb-service
    environment:
      - LOCAL_DEV_MODE=true
      - DBSECRET=${DBSECRET:-daejoo}
      - DISCOVERY_HOST=flexnes
      - DISCOVERY_PORT=5000
      - CODERUNNER_ADDRESS=coderunner-service
      - CODERUNNER_PORT=49051
      - REDIS_CONN_STR=redis://redis-service:6379
      - REDIS_DOMAINS_CONN_STR=redis://redis-service:6379
      - MONGODB_URI=mongodb://admin:password@mongodb-service:27017/flexnes?authSource=admin
    ports:
      - "${PORT:-8080}:8000"
      - "80:8000"
    volumes:
      - "${USER_DIR:-.}:/userapp"
    

  redis-service:
    image: redis:7-alpine
    restart: on-failure
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    logging:
      driver: "none"

  redis-init:
    image: redis:7-alpine
    depends_on:
      - redis-service
    command: sh -c "
      until redis-cli -h redis-service ping > /dev/null 2>&1; do
        echo 'Waiting for Redis to start...';
        sleep 1;
      done;
      echo 'Redis is ready, setting initial key...';
      redis-cli -h redis-service SET 'domain:foo.local.io' '{\"space\":\"dev\",\"project\":\"localhost\"}';
      echo 'Initial key set successfully';
      "
    restart: "no"

  mongodb-service:
    image: mongo:7
    restart: on-failure
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=flexnes
    volumes:
      - mongodb_data:/data/db
    logging:
      driver: "none"
    

volumes:
  codehooks_data:
  redis_data:
  mongodb_data: